@using Minigames

@page "/Hangman"

<PageTitle>Hangman</PageTitle>
<div id="page">
    <h1>Hangman</h1>

    <div id="wrapper">
        <div id="btn_start">
            <button class="btn_gamestart" @onclick="() => StartEasyGame()">Easy</button>
            <button class="btn_gamestart" @onclick="() => StartHardGame()">Hard</button>
        </div>
        <br />

        <div id="btn_letters">
            <div id="btn_single">
                @foreach (char letter in letters)
                {
                    <button class='letters'>@letter</button>
                }
            </div>
        </div>
        <div id="currentWord">
            Current word:
            <br />
        </div>


        <div class="remainingAttempts">
            Remaining attempts:
            <br />
        </div>

        <div id="wrongLetters">
            Wrong letters:
            <br />
        </div>
    </div>
</div>



<style>

    h1 {
        display: none;
    }

    #wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 40% 20% 20% 20%;
        column-gap: 10px;
        row-gap: 20px;
    }

    #btn_start {
        grid-column: 1/3;
        grid-row: 1;
        background-color: gray;
        text-align: center;
    }

    .btn_gamestart {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }

    #btn_letters {
        grid-column: 1/3;
        grid-row: 2;
        background-color: gray;
        text-align: center;
    }

    #btn_single {
        display: grid;
        grid-template-columns: 13% 13% 13% 13% 13% 13%;
        justify-content: center;
        align-content: center;
        padding: 3px;
    }

    #currentWord {
        grid-column: 1 / 3;
        grid-row: 3;
        background-color: gray;
        text-align: center;
        padding: 10px;
    }

    .remainingAttempts {
        grid-column: 1/3;
        grid-row: 4;
        background-color: gray;
        text-align: center;
        padding: 10px;
    }

    #wrongLetters {
        grid-column: 1/3;
        grid-row: 5;
        background-color: gray;
        text-align: center;
        padding: 10px;
    }

    @@media(min-width: 640px) {
        h1 {
            display: inline;
        }

        .btn_gamestart {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 20%;
            padding-left: 20%;
        }

        #wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 25% 25%;
            column-gap: 10px;
            row-gap: 20px;
        }

        #btn_start {
            grid-column: 1;
            grid-row: 1;
            background-color: gray;
            text-align: center;
            padding: 10px;
        }

        #btn_letters {
            grid-column: 2;
            grid-row: 1;
            background-color: gray;
            text-align: center;
        }

        #btn_single {
            display: grid;
            grid-template-columns: 13% 13% 13% 13% 13% 13%;
            justify-content: center;
            align-content: center;
            padding: 3px;
        }

        #currentWord {
            grid-column: 1 / 3;
            grid-row: 2;
            background-color: gray;
            text-align: center;
            padding: 10px;
        }

        .remainingAttempts {
            grid-column: 1;
            grid-row: 3;
            background-color: gray;
            text-align: center;
            padding: 10px;
        }

        #wrongLetters {
            grid-column: 2;
            grid-row: 3;
            background-color: gray;
            text-align: center;
            padding: 10px;
        }

        @@media(min-width: 1200px) {
            #wrapper {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 33% 33% 33%;
                column-gap: 10px;
                row-gap: 20px;
            }

            #btn_single {
                display: grid;
                grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
                justify-content: center;
                align-content: center;
                padding: 3px;
            }
        }
</style>

