 @using Minigames
 @page "/Hangman"

<PageTitle>Hangman</PageTitle>
<h1>Hangman</h1>

<div id="wrapper">
    <div id="btn_letters">
        <div id="btn_single">
            @foreach (char letter in letters)
            {
                <button class='letters'>@letter</button>
            }
        </div>
    </div>
    <div id="currentWord">
        Current word: <br />
         @Word
        <br />
    </div>


    <div class="remainingAttempts">
        Remaining attempts: <br />
        ❌❌❌❌❌❌
        <br />
    </div>

    <div id="wrongLetters">
        Wrong letters: <br />
        @foreach(var letter in wrongLetters)
        {
            
            @letter.ToUpper() <tab></tab>
            
        }
        <br />
    </div>
</div>

<style>
    body {
        background-color: #05121c;
        color: white;
        font-family: Calibri;
        font-size: 14pt;
    }


    h1 {
        display: none;
    }

    #wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 40% 20% 20% 20%;
        column-gap: 10px;
        row-gap: 20px;
    }

    #btn_start {
        grid-column: 1/3;
        grid-row: 1;
        text-align: center;
    }

    .btn_gamestart {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }

        .btn_gamestart:hover {
        }

    #btn_letters {
        grid-column: 1/3;
        grid-row: 2;
        text-align: center;
        margin-top: -30px;
    }

    #btn_single {
        display: grid;
        grid-template-columns: 13% 13% 13% 13% 13% 13%;
        justify-content: center;
        align-content: center;
    }

    button {
        background-color: #495157;
        color: white;
    }

        button:hover {
            background-color: rgba(0,0,0,0);
            transition: background-color: .5s;
        }

        button:visited{
            background-color: #040c04;
        }

    #currentWord {
        grid-column: 1 / 3;
        grid-row: 3;
        text-align: center;
        padding: 10px;
        margin-top: -20px;
    }

    .remainingAttempts {
        grid-column: 1/3;
        grid-row: 4;
        text-align: center;
        padding: 10px;
    }

    #wrongLetters {
        grid-column: 1/3;
        grid-row: 5;
        text-align: center;
        padding: 10px;
    }

   

        @@media(min-width: 1200px) {
            #wrapper {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 33% 33% 33%;
                column-gap: 10px;
                row-gap: 20px;
            }

            #btn_single {
                display: grid;
                grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
                justify-content: center;
                align-content: center;
                padding: 3px;
            }
        }
</style>

