@page "/Hangman"

<PageTitle>Hangman</PageTitle>

<h1>Hangman</h1>

@*
// class for the matchfield:
    printMatchField() => after every player
    printRandomWord() => print generated word

//class for the player:
    property name
    property remainingCount
    property bool win/loose

// class to generate word
    int difficulty
    GenerateRandomword
    
*@


@code {
    
}
