@page "/Snake"

<PageTitle>Snake</PageTitle>

<h1>Snake</h1>

<div class="parent">
    
</div>
<style>
    body {
        background-color: #05121c;
        color: white;
        font-family: Calibri;
    }

    @@media(min-width. 1200px;) {
        
        
    }
</style>